{% extends "base.html" %}

{% block title %}Список историй{% endblock %}

{% block content %}

<h1>Истории</h1>
{% if success == "1"%}
<div class="alert alert-success" role="alert">
    История оправлена на модерацию.
</div>
{% endif %}
{% if stories and stories|length > 0 %}

{% for story in stories %}
<div class="story">

    <h3>{{ story.title or "Без названия" }}</h3>

    <div class="meta">
        Автор:
        {{ story.author.login if story.author else "Неизвестно" }}
        <br>
        Проверяющий:
        {{ story.review_authors.login if story.review_authors else "Не назначен" }}
        <br>
        Дата:
        {% if story.date %}
        {{ story.date.strftime("%Y-%m-%d %H:%M") }}
        {% else %}
        Нет даты
        {% endif %}
    </div>
    <p>
        {{ story.content or "" }}
    </p>
</div>
<hr>
{% endfor %}

{% else %}
<p>Историй пока нет</p>
{% endif %}
<a href="/story/submit"><button type="button" class="btn btn-primary">Подать историю</button></a>
{% endblock %}