{% extends "base.html"%}

{% block content %}
    <h1>Новости</h1>
    <p>Нажмите на публикацию, чтобы ознакомится с ней подробнее</p>
    <hr>
    {% if news and news|length > 0 %}

    {% for publication in news %}
    <a href="/news/{{publication.id}}" style="text-decoration: none; color: inherit;">
        <div class="publication">
            <h3>{{ publication.title or "Без названия" }}</h3>

            <div class="meta">
                Автор:
                {{ publication.user.login if publication.user else "Неизвестно" }}
                <br>
                Дата:
                {% if publication.date %}
                {{ publication.date.strftime("%Y-%m-%d %H:%M") }}
                {% else %}
                Нет даты
                {% endif %}
            </div>
            <div class="long-text">
                {{ " ".join(publication.content) }}
            </div>
        </div>
    </a>
    <hr>
    {% endfor %}

    {% else %}
    <p>Новостей пока нет</p>
    {% endif %}
{% endblock %}