{% extends "base.html" %}

{% block content %}
<script src="https://smartcaptcha.cloud.yandex.ru/captcha.js" defer></script>
<h1>Сброс пароля</h1>
<form action="" method="post" novalidate>
    
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% if form.email.errors|length > 0 %}
    <div class="alert alert-danger" role="alert">
        {{ form.email.errors[0] }}
    </div>
    {% endif %}
    </p>
    <div id="captcha-container" class="smart-captcha" data-sitekey="" style="height: 100px; margin-bottom: 20px"></div>
    {% if err == "captcha" %}
        <div class="alert alert-danger" role="alert">
            Капча не была пройдена или произошла ошибка при проверке.
        </div>
    {% endif %}
    {% if err == "build" %}
        <div class="alert alert-danger" role="alert">
            Не удалось собрать письмо. Проверьте данные и обратитесь в поддержку.
        </div>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
<p>После нажатия кнокпки "Отправить" на ваш адрес электронной почты будет направлено письмо, содержащее код для сброса пароля. Для установки нового пароля необходимо ввести код и пароль на открывшейся странице</p>
<div>Вспомнили пароль?<a href="/auth/login" style="margin-left: 1%;"><button type="button" class="btn btn-secondary">Войти</button></a></div>
{% endblock %}
