{% extends "base.html" %}

{% block content %}
<h1>Авторизация</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <div id="captcha-container" class="smart-captcha" data-sitekey="" style="height: 100px; margin-bottom: 20px"></div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if err != None %}
        <div class="alert alert-danger" role="alert">
            Неверный адрес электронной почты или пароль.
        </div>
    {% endif %}
</form>
<div>Нет аккаунта?<a href="/auth/register" style="margin-left: 1%;"><button type="button" class="btn btn-secondary">Зарегестрироваться</button></a></div>
<div style="margin-top: 1%;">Забыли пароль?<a href="/auth/forgot-password" style="margin-left: 1%;"><button type="button" class="btn btn-secondary">Сбросить пароль</button></a></div>
{% endblock %}
