{% extends "base.html" %}

{% block content %}
<h1>Сброс пароля</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.code.label }}<br>
        {{ form.code(class="form-control", type="number", min="100000", max="999999") }}<br>
        {% for error in form.code.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
        {{ form.repeat_password.label }}<br>
        {{ form.repeat_password(class="form-control", type="password") }}<br>
        {% for error in form.repeat_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p>Пароль должен:</p>
    <ul>
        <li>быть длинной от 8 символов</li>
        <li>содрежать хотя-бы одну заглавную латинскую букву</li>
        <li>содрежать хотя-бы одну строчную латинскую букву</li>
        <li>содрежать хотя-бы одну цифру</li>
        <li>содрежать хотя-бы один символ из набора: !@#$%^&*()_+-?=</li>
    </ul>
</form>
{% endblock %}
