{% extends "base.html"%}

{% block content %}
    <span style="font-weight: bold;">«Образование в кольце»</span><span> — это инициатива учеников 10 «А» класса, созданная в рамках проекта "Твой бюджет в школах". Правительство Санкт-Петербурга выделило грант на реализицию проекта.</span>
    <span>Над проектом работали:</span>
    <ul>
        <li>Конжин Никита Александрович (10 «А»; Капитан проекта, разработчик, создание сайта и логотипа)</li>
        <li>Богомолов Юрий Александрович (10 «А»; Менеджер по связям с общественностью)</li>
        <li>Жидких Артём Дмитриевич (10 «А»; Менеджер по связям с общественностью)</li>
        <li>Пинчук Елизавета Алексеевна (10 «А»; Менеджер по связям с общественностью, создание презентации)</li>
        <li>Татаринцев Кирилл Дмитриевич (10 «А»; Дизайнер, создание презентации)</li>
        <li>Ткачев Александр Михайлович (10 «А»; Экономист, создание сметы проекта)</li>
        <li>Андрей Нефёдов Сергеевич (10 «Б»; Разработчик, создание сайта)</li>
        <li>Ефимова Ольга Александровна (Преподаватель лицея №393; куратор проекта, советник директора по воспитанию и взаимодействию с детскими общественными объединениями)</li>
    </ul>
    <div class="divcenter">
        <img src="{{ url_for('static', filename='img/tbsh.svg') }}" class="img-fluid" width="350px">
    </div>
{% endblock %}