{% extends "base.html" %}

{% block content %}
<h1>Сброс пароля</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
</form>
<p>После нажатия кнокпки "Отправить" на ваш адрес электронной почты будет направлено письмо, содержащее ссылку для сброса пароля. Для установки нового пароля необходимо перейти по этой ссылке и ввести новый пароль</p>
<div>Вспомнили пароль?<a href="/login" style="margin-left: 1%;"><button type="button" class="btn btn-secondary">Войти</button></a></div>
{% endblock %}
