.divcenter{
    justify-content: center;
    align-items: center;
    text-align: center
}
.critical{
    color: red;
    font-size: 3.5em;
}

.critical-small{
    color: red;
}

.success{
    color: green;
}

.long-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
