@font-face {
    font-family: 'spectrashell';
    src: '{{ url_for("static", filename="spectrashell.ttf") }}';
}

.divcenter{
    justify-content: center;
    align-items: center;
    text-align: center
}
.critical{
    color: red;
    font-size: 3.5em;
}

.critical-small{
    color: red;
}

.slogan{
    font-family: 'spectrashell';
    font-size: 5em;
}

.success{
    color: green;
}

.long-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
